<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browserType" value="chrome"/>
	<parameter name="appURL" value="http://www.radius23.com:96/#/"/>
	
  <test name="Test">
    <classes>
      <class name="com.Securus.Radius23_TestScripts.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
